/*===== Global =====*/
body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./img/pexels-tirachard-kumtanom-733852.jpg") no-repeat;
  background-size: cover;
  background-color: #fdfaf5;
}
form {
  padding: 20px;
  margin-top: 60px;
  box-shadow: 0 1px 50px rgba(73, 72, 72, 0.4);
  border-radius: 5px;
}
form button,
form h5 {
  margin: 20px 0;
}
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}
button {
  background-color: #d7b592;
}

/*===== Components =====*/
.navlink-btn {
  background-color: #aec222;
}
.navlink-btn:hover,
.navlink-btn:focus {
  background-color: #d7b592;
}
.nav-wrapper {
  padding: 0 13.5%;
}
.notification-card,
.project-summary {
  border-radius: 5px;
  opacity: 0.7;
}
.note-user {
  color: #e3f37d;
  font-weight: bold;
}
.note-date {
  color: #e3f37d;
}

@media screen and (max-width: 375px) {
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .nav-container {
    transform: scale(0.65);
  }
  .nav-links {
    padding: 2px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .nav-wrapper {
    padding: 2%;
    padding-top: 0;
    padding-bottom: 0;
  }
}
