body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./img/pexels-tirachard-kumtanom-733852.jpg") no-repeat;
  background-size: cover;
  background-color: #fdfaf5;
}
.navlink-btn {
  background-color: #aec222;
}
.project-summary {
  border-radius: 5px;
  opacity: 0.5;
}
